# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Datasets
data/*.csv
data/*.txt

# Environment Keys & local docs
.env
app/backend/.env
